body {
    margin: 0; /* Remover margens padrão */
    padding: 0; /* Remover preenchimentos padrão */
    font-family: Arial, sans-serif; /* Definir uma fonte padrão */
  }
  

form{
    height: 100%;
}
  

button{
    position: absolute;
    bottom: 0;
}