body {
    margin: 0; /* Remover margens padrão */
    padding: 0; /* Remover preenchimentos padrão */
    font-family: Arial, sans-serif; /* Definir uma fonte padrão */
  }
  
  .content {
    position: fixed; /* Fixar a posição do conteúdo */
    top: 0; /* Colocar o conteúdo no topo da página */
    left: 0; /* Colocar o conteúdo no canto esquerdo da página */
    width: 100%; /* Ocupar toda a largura da página */
    padding: 20px; /* Adicionar algum espaçamento */
    background-color: #f0f0f0; /* Cor de fundo */
    box-sizing: border-box;
  }
  